{% extends 'url_short/shortner_template.html' %}
{% load static %}

{%block body%}

<table>
    <form id='search-form' autocomplete='off'>
        <input type='text'id='search-input' name ='q' />
        <button type'submit'> search </button> 
    </form>

    <thread>
        <tr>
            <th> # </th>
            <th> Short Link</th>
            <th> Windows Link</th>
            <th> Android Link</th>
            <th> Mac Link</th>
            <th> IOS Link</th>
            <th> Other Link</th>
            <th> Creation Time</th>
            <th> Action</th>
        </tr>
    </thread>
        <tbody>
            {%for link in links%}
            <tr>
                <td> {{link.id}}</td>
                <td>{{link.shortURL}}</td>
                <td>{{link.windowsURL}}</td>
                <td>{{link.androidURL}}</td>
                <td>{{link.macURL}}</td>
                <td>{{link.iosURL}}</td>
                <td>{{link.otherURL}}</td>
                <td> {{link.created_time}}</td>
                <td>
                    <a href="{% url 'urls:edit' idd=link.id %}"> <img src="{% static 'media/edit_icon.svg' %}" height="20" alt ='edit'> </a>      
                    <a href="{% url 'urls:delete' idd=link.id %}"> <img src="{% static 'media/delete_icon.svg' %}" height="20" alt='delete'> </a>
                </td>

            </tr>
            {%endfor%}
        </tbody>

</table>

{%endblock%}